{%  extends  'base.html.twig'%}

{% block title %}affiche des personnes {% endblock %}
{% block main %}
    {% for personne in liste %}
            <li>{{ personne.nom }}{{ personne.prenom }}</li>
        {% endfor %}
{% endblock %}